.try {
  margin-top: 100px;
  padding: 100px 0;
  border-top: 1px solid rgba(61%, 41%, 89%, 0.2);
  border-bottom: 1px solid rgba(61%, 41%, 89%, 0.2);
  &__wrapper {
    display: flex;
  }

  &__column {
    &:last-child {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
  &__headline {
    margin-bottom: 20px;
  }
  &__caption {
    font-size: rem(18px);
    color: $text-color;
  }
}

@media (max-width: $tablet-width) {
  .try {
    margin-top: 40px;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__column {
      &:first-child {
        width: 100%;
        text-align: center;
      }
      &:last-child {
        margin-left: 0;
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
      }

      .btn_accent {
        margin: 0;
        margin-bottom: 20px;
      }
    }
    &__headline {
      text-align: center;
    }
  }
}
